<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
	/*
	 * Style tweaks
	 * --------------------------------------------------
	 */
	html,
	body {
	  overflow-x: hidden; /* Prevent scroll on narrow devices */
	}
	body {
	  padding-top: 70px;
	}
	footer {
	  padding: 30px 0;
	}

	/*
	 * Off Canvas
	 * --------------------------------------------------
	 */
	@media screen and (max-width: 767px) {
	  .row-offcanvas {
	    position: relative;
	    -webkit-transition: all .25s ease-out;
	         -o-transition: all .25s ease-out;
	            transition: all .25s ease-out;
	  }

	  .row-offcanvas-right {
	    right: 0;
	  }

	  .row-offcanvas-left {
	    left: 0;
	  }

	  .row-offcanvas-right
	  .sidebar-offcanvas {
	    right: -50%; /* 6 columns */
	  }

	  .row-offcanvas-left
	  .sidebar-offcanvas {
	    left: -50%; /* 6 columns */
	  }

	  .row-offcanvas-right.active {
	    right: 50%; /* 6 columns */
	  }

	  .row-offcanvas-left.active {
	    left: 50%; /* 6 columns */
	  }

	  .sidebar-offcanvas {
	    position: absolute;
	    top: 0;
	    width: 50%; /* 6 columns */
	  }
	}
</style>
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
$(document).ready(function () {
	$('[data-toggle="offcanvas"]').click(function () {
		$('.row-offcanvas').toggleClass('active')
	});
});
</script>