---
---
<!doctype html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %}
		<div class="container">
			<div class="row row-offcanvas row-offcanvas-right">
				<div class="col-sm-9">
					<p class="pull-right visible-xs">
						<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
							Toggle nav
						</button>
					</p>
					{{ content }}
				</div>
				{% include sidebar.html %}
			</div>
		</div>
		{% google_analytics UA-54302492-19 %}
	</body>
</html>